In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data.csv")

In [3]:
df.head()

,No_of_pass,No_of_male_pass,No_of_female_pass,No_of_kids,No_of_veg,No_of_non_veg_pass,seasonal_food_orders,coffee_orders,biodegrabdle_cutlery,dessert_orders,stops,weekend,Flight_duration,Day/Night_flight,No_of_business_class_pass,Catering_expenditure
0,104,56,34,14,63,41,15,10,12,5,1,1,12,1,12,3950
1,163,106,41,16,66,97,15,20,21,10,0,0,13,0,35,2718
2,231,92,109,30,174,57,30,21,20,40,1,1,4,1,52,4385
3,91,61,10,20,11,80,12,10,20,20,0,0,7,0,18,1375
4,324,88,123,113,148,176,30,12,15,32,1,1,9,1,42,9954

In [4]:
X = df.drop('Catering_expenditure', axis = 1)

In [5]:
y = df['Catering_expenditure']

In [6]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [7]:
from sklearn.preprocessing import PolynomialFeatures

In [8]:
features = PolynomialFeatures()

In [11]:
transformed_X_train = features.fit_transform(X_train)

In [13]:
transformed_X_test = features.fit_transform(X_test)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
model = LinearRegression()

In [16]:
model.fit(transformed_X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
 pred = model.predict(transformed_X_test)

In [18]:
y_test

20     2521
24     3115
7      1070
18    11616
2      4385
27     2530
26     7347
16     2088
25     9398
Name: Catering_expenditure, dtype: int64

In [19]:
from sklearn.metrics import mean_absolute_error

In [21]:
mean_absolute_error(y_test,pred)

1477.8833096520693

In [65]:
p1 = features.transform([[210,95,85,30,90,120,20,20,20,10,0,1,13,1,50]])

In [66]:
model.predict(p1)

array([5745.58496897])

In [68]:
transformed_X = features.transform(X)

In [70]:
poly_linear_model = LinearRegression()

In [71]:
poly_linear_model.fit(transformed_X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [72]:
from joblib import dump,load

In [75]:
dump(poly_linear_model,"poly_linear_model.joblib")

['poly_linear_model.joblib']

In [76]:
dump(features,"poly_features.joblib")

['poly_features.joblib']