In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(host = 'localhost' , user = 'root' , passwd = 'user' ,database = 'expenditure')

In [3]:
import pandas as pd

In [4]:
mycursor = mydb.cursor()

In [7]:
df = pd.read_sql('select * from cep2' , mydb)

In [9]:
df.head()

,No_of_pass,No_of_male_pass,No_of_female_pass,No_of_kids,No_of_veg,No_of_non_veg_pass,seasonal_food_orders,coffee_orders,biodegrabdle_cutlery,dessert_orders,stops,weekend,Flight_duration,day_Night_flight,No_of_business_class_pass,Catering_expenditure
0,104,56,34,14,63,41,22,30,22,30,0,0,12,1,12,2456.0
1,163,106,41,16,66,97,34,48,34,48,0,0,13,0,35,2816.0
2,231,92,109,30,174,57,46,69,46,69,1,1,4,1,52,4582.0
3,91,61,10,20,11,80,18,27,18,27,0,0,7,0,18,1403.0
4,324,88,123,113,148,176,64,96,64,96,1,1,9,1,42,10335.0

In [11]:
X = df.drop('Catering_expenditure', axis = 1)

In [13]:
y = df['Catering_expenditure']

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
scaler = StandardScaler()

In [20]:
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [21]:
scaled_X_train = scaler.transform(X_train)

In [23]:
scaled_X_test = scaler.transform(X_test)

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
linearmodel2 = LinearRegression()

In [27]:
linearmodel2.fit(scaled_X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
linearmodel2.coef_

array([-3693.43260411,  4682.72887125,  5267.32582458,  4556.32123039,
       -2406.49789303, -3046.96739596, -1869.09327335,  -570.26990299,
         314.58198987,  -570.26990299,    20.77238417,  1301.86839639,
         481.85624501,   865.41747444,  -229.56452593])

In [29]:
linearmodel2.predict(scaled_X_test)

array([2826.52769911, 5224.02747379,  429.60721712, 9363.86174546,
       6460.02479421, 2310.09724975])

In [33]:
pred = linearmodel2.predict(scaled_X_test)

In [30]:
y_test

20     2590.0
24     3184.0
7      1102.0
18    11901.0
2      4582.0
27     2655.0
Name: Catering_expenditure, dtype: float64

In [31]:
from sklearn.metrics import mean_absolute_error,mean_squared_log_error

In [34]:
mean_absolute_error(y_test,pred)

1284.835625799191

In [36]:
import numpy as np

In [37]:
np.sqrt(mean_squared_log_error(y_test,pred))

0.47119537501094205

In [38]:
from sklearn.metrics import mean_squared_error

In [39]:
np.sqrt(mean_squared_error(y_test,pred))

1568.0547959296866

In [40]:
from joblib import dump,load

In [41]:
dump(linearmodel2,'linearmodel2.joblib')

['linearmodel2.joblib']

In [42]:
dump(scaler,'linearscaler2.joblib')

['linearscaler2.joblib']

In [66]:
p1 = scaler.transform([[210,95,85,30,100,110,0,0,10,0,1,0,13,0,10]])

In [67]:
linearmodel2.predict(p1)

array([13097.46277415])

In [43]:
X.columns

Index(['No_of_pass', 'No_of_male_pass', 'No_of_female_pass', 'No_of_kids',
       'No_of_veg', 'No_of_non_veg_pass', 'seasonal_food_orders',
       'coffee_orders', 'biodegrabdle_cutlery', 'dessert_orders', 'stops',
       'weekend', 'Flight_duration', 'day_Night_flight',
       'No_of_business_class_pass'],
      dtype='object')